<div class="container">
  <div>
    <h1>Importing your data</h1>
    <p>There are two ways to import, Private or Pretty.</p>
    <div class="">
      <p>Pretty text looks like this:</p>
      <p>My Christmas List<br><br>

        Name: Josh W<br>
        Gift: Beer<br>
        Gift Status: Receipt Confirmed</p>

      <div class="form-group">
        <label class="sr-only">Pretty Input</label>
        <textarea rows="20" class="form-control" name="prettyInput" placeholder="Put your pretty text in to this box"
                  [(ngModel)]="prettyText"></textarea>
        <a class="btn btn-info">Import</a>
      </div>
    </div>
  </div>
</div>
