.table > thead > tr > td.gift-table-colour-tobedecided,
.table > tbody > tr > td.gift-table-colour-tobedecided,
.table > tfoot > tr > td.gift-table-colour-tobedecided,
.table > thead > tr > th.gift-table-colour-tobedecided,
.table > tbody > tr > th.gift-table-colour-tobedecided,
.table > tfoot > tr > th.gift-table-colour-tobedecided,
.table > thead > tr.gift-table-colour-tobedecided > td,
.table > tbody > tr.gift-table-colour-tobedecided > td,
.table > tfoot > tr.gift-table-colour-tobedecided > td,
.table > thead > tr.gift-table-colour-tobedecided > th,
.table > tbody > tr.gift-table-colour-tobedecided > th,
.table > tfoot > tr.gift-table-colour-tobedecided > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.gift-table-colour-tobedecided:hover,
.table-hover > tbody > tr > th.gift-table-colour-tobedecided:hover,
.table-hover > tbody > tr.gift-table-colour-tobedecided:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-tobedecided,
.table-hover > tbody > tr.gift-table-colour-tobedecided:hover > th {
  background-color: #ebcccc;
}

.table > thead > tr > td.gift-table-colour-tobefulfilled,
.table > tbody > tr > td.gift-table-colour-tobefulfilled,
.table > tfoot > tr > td.gift-table-colour-tobefulfilled,
.table > thead > tr > th.gift-table-colour-tobefulfilled,
.table > tbody > tr > th.gift-table-colour-tobefulfilled,
.table > tfoot > tr > th.gift-table-colour-tobefulfilled,
.table > thead > tr.gift-table-colour-tobefulfilled > td,
.table > tbody > tr.gift-table-colour-tobefulfilled > td,
.table > tfoot > tr.gift-table-colour-tobefulfilled > td,
.table > thead > tr.gift-table-colour-tobefulfilled > th,
.table > tbody > tr.gift-table-colour-tobefulfilled > th,
.table > tfoot > tr.gift-table-colour-tobefulfilled > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.gift-table-colour-tobefulfilled:hover,
.table-hover > tbody > tr > th.gift-table-colour-tobefulfilled:hover,
.table-hover > tbody > tr.gift-table-colour-tobefulfilled:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-tobefulfilled,
.table-hover > tbody > tr.gift-table-colour-tobefulfilled:hover > th {
  background-color: #faf2cc;
}

.table > thead > tr > td.gift-table-colour-tobedelivered,
.table > tbody > tr > td.gift-table-colour-tobedelivered,
.table > tfoot > tr > td.gift-table-colour-tobedelivered,
.table > thead > tr > th.gift-table-colour-tobedelivered,
.table > tbody > tr > th.gift-table-colour-tobedelivered,
.table > tfoot > tr > th.gift-table-colour-tobedelivered,
.table > thead > tr.gift-table-colour-tobedelivered > td,
.table > tbody > tr.gift-table-colour-tobedelivered > td,
.table > tfoot > tr.gift-table-colour-tobedelivered > td,
.table > thead > tr.gift-table-colour-tobedelivered > th,
.table > tbody > tr.gift-table-colour-tobedelivered > th,
.table > tfoot > tr.gift-table-colour-tobedelivered > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.gift-table-colour-tobedelivered:hover,
.table-hover > tbody > tr > th.gift-table-colour-tobedelivered:hover,
.table-hover > tbody > tr.gift-table-colour-tobedelivered:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-tobedelivered,
.table-hover > tbody > tr.gift-table-colour-tobedelivered:hover > th {
  background-color: #c4e3f3;
}

.table > thead > tr > td.gift-table-colour-receiptconfirmed,
.table > tbody > tr > td.gift-table-colour-receiptconfirmed,
.table > tfoot > tr > td.gift-table-colour-receiptconfirmed,
.table > thead > tr > th.gift-table-colour-receiptconfirmed,
.table > tbody > tr > th.gift-table-colour-receiptconfirmed,
.table > tfoot > tr > th.gift-table-colour-receiptconfirmed,
.table > thead > tr.gift-table-colour-receiptconfirmed > td,
.table > tbody > tr.gift-table-colour-receiptconfirmed > td,
.table > tfoot > tr.gift-table-colour-receiptconfirmed > td,
.table > thead > tr.gift-table-colour-receiptconfirmed > th,
.table > tbody > tr.gift-table-colour-receiptconfirmed > th,
.table > tfoot > tr.gift-table-colour-receiptconfirmed > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.gift-table-colour-receiptconfirmed:hover,
.table-hover > tbody > tr > th.gift-table-colour-receiptconfirmed:hover,
.table-hover > tbody > tr.gift-table-colour-receiptconfirmed:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-receiptconfirmed,
.table-hover > tbody > tr.gift-table-colour-receiptconfirmed:hover > th {
  background-color: #d0e9c6;
}

.gift-table-colour-tobedecided {
  background-color: #f2dede;
  border-color: #f2dede;
}
.gift-table-colour-tobedecided:hover {
  background-color: #ebcccc;
  border-color: #ebcccc;
}

.gift-table-colour-tobefulfilled {
  background-color: #fcf8e3;
  border-color: #fcf8e3;
}
.gift-table-colour-tobefulfilled:hover {
  background-color: #faf2cc;
  border-color: #faf2cc;
}

.gift-table-colour-tobedelivered {
  background-color: #d9edf7;
  border-color: #d9edf7;
}
.gift-table-colour-tobedelivered:hover {
  background-color: #c4e3f3;
  border-color: #c4e3f3;
}

.gift-table-colour-receiptconfirmed {
  background-color: #dff0d8;
  border-color: #dff0d8;
}
.gift-table-colour-receiptconfirmed:hover {
  background-color: #d0e9c6;
  border-color: #d0e9c6;
}


.card-outline-tobedelivered {
  background-color: transparent;
  border-color: #0275d8;
}

.card-outline-receiptconfirmed {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-outline-tobefulfilled {
  background-color: transparent;
  border-color: #ccc;
}

.card-outline-tobedecided {
  background-color: transparent;
  border-color: #d9534f;
}
