.table > thead > tr > td.gift-table-colour-tobedecided,
.table > tbody > tr > td.gift-table-colour-tobedecided,
.table > tfoot > tr > td.gift-table-colour-tobedecided,
.table > thead > tr > th.gift-table-colour-tobedecided,
.table > tbody > tr > th.gift-table-colour-tobedecided,
.table > tfoot > tr > th.gift-table-colour-tobedecided,
.table > thead > tr.gift-table-colour-tobedecided > td,
.table > tbody > tr.gift-table-colour-tobedecided > td,
.table > tfoot > tr.gift-table-colour-tobedecided > td,
.table > thead > tr.gift-table-colour-tobedecided > th,
.table > tbody > tr.gift-table-colour-tobedecided > th,
.table > tfoot > tr.gift-table-colour-tobedecided > th {
  background-color: #e74c3c;
}
.table-hover > tbody > tr > td.gift-table-colour-tobedecided:hover,
.table-hover > tbody > tr > th.gift-table-colour-tobedecided:hover,
.table-hover > tbody > tr.gift-table-colour-tobedecided:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-tobedecided,
.table-hover > tbody > tr.gift-table-colour-tobedecided:hover > th {
  background-color: #e43725;
}

.table > thead > tr > td.gift-table-colour-tobefulfilled,
.table > tbody > tr > td.gift-table-colour-tobefulfilled,
.table > tfoot > tr > td.gift-table-colour-tobefulfilled,
.table > thead > tr > th.gift-table-colour-tobefulfilled,
.table > tbody > tr > th.gift-table-colour-tobefulfilled,
.table > tfoot > tr > th.gift-table-colour-tobefulfilled,
.table > thead > tr.gift-table-colour-tobefulfilled > td,
.table > tbody > tr.gift-table-colour-tobefulfilled > td,
.table > tfoot > tr.gift-table-colour-tobefulfilled > td,
.table > thead > tr.gift-table-colour-tobefulfilled > th,
.table > tbody > tr.gift-table-colour-tobefulfilled > th,
.table > tfoot > tr.gift-table-colour-tobefulfilled > th {
  background-color: #f39c12;
}
.table-hover > tbody > tr > td.gift-table-colour-tobefulfilled:hover,
.table-hover > tbody > tr > th.gift-table-colour-tobefulfilled:hover,
.table-hover > tbody > tr.gift-table-colour-tobefulfilled:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-tobefulfilled,
.table-hover > tbody > tr.gift-table-colour-tobefulfilled:hover > th {
  background-color: #e08e0b;
}

.table > thead > tr > td.gift-table-colour-tobedelivered,
.table > tbody > tr > td.gift-table-colour-tobedelivered,
.table > tfoot > tr > td.gift-table-colour-tobedelivered,
.table > thead > tr > th.gift-table-colour-tobedelivered,
.table > tbody > tr > th.gift-table-colour-tobedelivered,
.table > tfoot > tr > th.gift-table-colour-tobedelivered,
.table > thead > tr.gift-table-colour-tobedelivered > td,
.table > tbody > tr.gift-table-colour-tobedelivered > td,
.table > tfoot > tr.gift-table-colour-tobedelivered > td,
.table > thead > tr.gift-table-colour-tobedelivered > th,
.table > tbody > tr.gift-table-colour-tobedelivered > th,
.table > tfoot > tr.gift-table-colour-tobedelivered > th {
  background-color: #3498db;
}
.table-hover > tbody > tr > td.gift-table-colour-tobedelivered:hover,
.table-hover > tbody > tr > th.gift-table-colour-tobedelivered:hover,
.table-hover > tbody > tr.gift-table-colour-tobedelivered:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-tobedelivered,
.table-hover > tbody > tr.gift-table-colour-tobedelivered:hover > th {
  background-color: #258cd1;
}

.table > thead > tr > td.gift-table-colour-receiptconfirmed,
.table > tbody > tr > td.gift-table-colour-receiptconfirmed,
.table > tfoot > tr > td.gift-table-colour-receiptconfirmed,
.table > thead > tr > th.gift-table-colour-receiptconfirmed,
.table > tbody > tr > th.gift-table-colour-receiptconfirmed,
.table > tfoot > tr > th.gift-table-colour-receiptconfirmed,
.table > thead > tr.gift-table-colour-receiptconfirmed > td,
.table > tbody > tr.gift-table-colour-receiptconfirmed > td,
.table > tfoot > tr.gift-table-colour-receiptconfirmed > td,
.table > thead > tr.gift-table-colour-receiptconfirmed > th,
.table > tbody > tr.gift-table-colour-receiptconfirmed > th,
.table > tfoot > tr.gift-table-colour-receiptconfirmed > th {
  background-color: #18bc9c;
}
.table-hover > tbody > tr > td.gift-table-colour-receiptconfirmed:hover,
.table-hover > tbody > tr > th.gift-table-colour-receiptconfirmed:hover,
.table-hover > tbody > tr.gift-table-colour-receiptconfirmed:hover > td,
.table-hover > tbody > tr:hover > .gift-table-colour-receiptconfirmed,
.table-hover > tbody > tr.gift-table-colour-receiptconfirmed:hover > th {
  background-color: #15a589;
}

.gift-table-colour-tobedecided {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.gift-table-colour-tobedecided:hover {
  background-color: #e43725;
  border-color: #e43725;
}

.gift-table-colour-tobefulfilled {
  background-color: #f39c12;
  border-color: #f39c12;
}
.gift-table-colour-tobefulfilled:hover {
  background-color: #e08e0b;
  border-color: #e08e0b;
}

.gift-table-colour-tobedelivered {
  background-color: #3498db;
  border-color: #3498db;
}
.gift-table-colour-tobedelivered:hover {
  background-color: #258cd1;
  border-color: #258cd1;
}

.gift-table-colour-receiptconfirmed {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.gift-table-colour-receiptconfirmed:hover {
  background-color: #15a589;
  border-color: #15a589;
}
