<table class="table">
  <thead>
  <tr>
    <th>Recipient</th>
    <th>Gift</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of trackedPeopleService.person; let i = index" class="{{item.status | tableColourPipe}}">
    <td>{{item.firstName + " " + item.lastName}}</td>
    <td>{{item.gift}}</td>
    <td>{{item.status}}</td>
    <td>
      <div class="dropdown">
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Update Status
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Decided')">To Be Decided</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Fulfilled')">To Be Fulfilled</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Delivered')">To Be Delivered</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'Receipt Confirmed')">Receipt Confirmed</a>
        </div>
      </div>

    </td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" href="#" (click)="removeItem(i)">Remove Row</button>
    </td>
  </tr>
  </tbody>
</table>
