<button type="button" id="toggleButton" class="btn btn-primary" (click)="toggleView()">Toggle View</button>

<table *ngIf="viewMode === 0" class="table">
  <thead>
  <tr>
    <th>Recipient</th>
    <th>Gift</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of trackedPeopleService.person; let i = index" class="{{item.status | tableColourPipe}}">
    <td>{{item.firstName + " " + item.lastName}}</td>
    <td>{{item.gift}}</td>
    <td>{{item.status}}</td>
    <td>
      <div class="dropdown">
        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Update Status
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Decided')">To Be Decided</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Fulfilled')">To Be Fulfilled</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Delivered')">To Be Delivered</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'Receipt Confirmed')">Receipt Confirmed</a>
        </div>
      </div>

    </td>
    <td>
      <button type="button" class="btn btn-danger btn-sm" href="#" (click)="removeItem(i)">Remove Row</button>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="viewMode === 1" class="card-columns">
  <div *ngFor="let item of trackedPeopleService.person; let i = index" class="card {{item.status | cardOutlineColour }}"
       style="width: 20rem;">
    <div class="card-block">
      <h4 class="card-title">{{item.firstName + " " + item.lastName}}</h4>
      <p class="card-text">{{item.gift}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Status: {{item.status}}</li>
      <li class="list-group-item"><textarea class="" placeholder="Notes" [(ngModel)]="item.notesSection"></textarea></li>
    </ul>
    <div class="card-block">
      <div class="dropdown">
        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Update Status
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Decided')">To Be Decided</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Fulfilled')">To Be Fulfilled</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'To Be Delivered')">To Be Delivered</a>
          <a class="dropdown-item" href="#" (click)="updateStatus(i, 'Receipt Confirmed')">Receipt Confirmed</a>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-danger btn-sm" href="#" (click)="removeItem(i)">Remove Item</button>
    </div>
  </div>
</div>
